# Node.js dependencies
/node_modules

# Development and build artifacts
*.log
npm-debug.log*
yarn-error.log*
android/app/build/
ios/build/
ios/DerivedData/
# iOS and Android folders
ios/
android/
# macOS
.DS_Store

# Ruby gem-related files
Gemfile.lock
.bundle/
vendor/bundle/
./vendor/*

# IDE-specific files (WebStorm, VSCode, etc.)
.idea/
.vscode/

# Sensitive information (use environment variables instead)
.env*

# Project-specific configuration files
.prettierrc.js
.babelrc
.eslintrc.js
.editorconfig

# Customize as needed based on your project's requirements
package-lock.json
